<div class="container text-light h-100">
    <div class="row justify-content-start align-items-center h-100">
        <div class="col">
            <div class="card bg-transparent border-0">
                <div class="card-body">
                    <h1 class="card-title fw-bold">Yelpcamp</h1>
                    <p class="lead"> Welcome to YelpCamp! <br> Jump right in and explore our many campgrounds. <br>
                    Feel free to share some of your own and comment on others!</p>
                    <a href="/login" class="btn btn-primary m-1">Login</a>
                    <a href="/register" class="btn btn-light m-1">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>